@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quality Scout - Login</title>
    <link rel="stylesheet" href="~/css/LoginD.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">
</head>

<body>
    <div class="container">
        <a class="atrasbtn back-button" asp-action="Index1" asp-controller="Home">&#8592; Atrás</a>
        <div class="logo">
            <img class="logoimg" src="~/Extras/QualityScoutLogo.png"></img>
        </div>
        <div class="login-box">
            <h2>ACCESO</h2>
            <p>Inicie sesión para continuar.</p>
            <form asp-action="Login" asp-controller="Auth" method="post">
                <label for="email">RUT</label>
                <input type="text" id="" name="user" placeholder="12.345.678-9" required>
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" placeholder="******" required>
                <button type="submit">Inicar sesión</button>
            </form>
            <p style="margin-top: 20px; color: rgb(160, 160, 160) ;">
                Si ha olvidado sus datos de inicio de sesión,
                no dude en ponerse en contacto con su superior
                para recibir asistencia.
            </p>
        </div>
    </div>
</body>

</html>

