* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: relative;
}

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../Extras/uvas.png), url(../Extras/copavinoservido.png);
        background-position: left -1% top 41%, right bottom; /* Uvas alineadas arriba a la izquierda, copa abajo a la derecha */
        background-repeat: no-repeat;
        background-size: 20%, 25%; /* Ajusta el tamaño de las imágenes según sea necesario */
        background-attachment: fixed; /* El fondo se mantiene fijo al hacer scroll */
        opacity: 0.17; /* Ajusta la opacidad aquí */
        z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
    }

.content {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima de las imágenes de fondo */
    padding: 15px;
}

header {
    background: #260202;
    width: 100%;
    z-index: 100;
}

.nav-i {
    display: flex;
    align-items: center;
    background-color: #260202;
    padding: 30px;
    color: white;
    gap: 20px;
}

nav {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    height: 52px;
}

.div2 {
    display: flex;
    align-items: center;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    /*font-size: 1.2rem;*/
}

.logoqs {
    width: 100px; /* Reduce el ancho del logo */
    height: auto;
    /*margin-right: 20px;  Elimina el margen para alinear mejor */
}

.nav-container {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navstyle {
    display: flex;
    gap: 20px;
    /*justify-content: flex-start;  Cambia a 'flex-start' para alinear íconos a la izquierda 
    flex-grow: 1;*/
}

.iconosnav:hover {
    transform: scale(110%);
}

.iconosnav {
    transition: 0.2s;
}

.iconosuser {
    margin: 2px 10px;
}

    .iconosuser img {
        width: 50px; /* Ajusta el tamaño de los íconos */
        height: 50px;
        padding: 5px;
    }

.iconosnav img {
    width: 30px; /* Ajusta el tamaño de los íconos */
    height: 30px;
    /*padding: 5px;*/
}

.welcome-container {
    display: flex;
    /*align-items: center;  Alinea verticalmente el texto y el ícono */
    flex-direction: column;
    text-align: left;
}

.welcome-text {
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    /*margin-right: 56px;*/
}

.user-name {
    color: #fff;
    font-family: Arial;
    font-size: 110%;
    margin-right: 10px;
}

.icono-lapiz {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.login-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
}

.btn-login {
    font-family: Arial;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    margin-right: 9.9%;
    display: inline-block;
    margin-top: -4%;
}

.accesotitulo {
    display: flex;
    justify-content: start;
    margin-left: 9%;
    margin-bottom: 15px;
    font-size: 190%;
    font-family: Arial;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 24px;
    color: #333;
    font-family: Arial;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}

p {
    font-family: Arial;
}

.add-user-btn {
    background-color: rgb(248, 245, 245);
    color: #4b0404;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 3.5%;
    font-family: Arial;
}

.user-list {
    width: 100%;
    margin: 0 auto;
    font-family: Arial;
    font-optical-sizing: auto;
    font-style: normal;
}

.titulo {
    margin-left: 21%;
    font-size: 17px;
    font-family: Arial;
    font-optical-sizing: auto;
    font-style: normal;
}

.user-list h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    font-family: Arial;
    font-optical-sizing: auto;
    font-style: normal;
}

.user-card {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #260202;
    margin-bottom: 15px;
    margin-left: 21%;
    box-sizing: border-box;
    background-color: transparent;
}

.estado-aprobado {
    background-color: #E0E9DE;
}

.estado-rechazado {
    background-color: #F2E5E5;
}

.estado-reproceso {
    background-color: #E5E5EB;
}

.user-info {
    display: flex;
    align-items: center;
    width: 35%;
}

.user-icon {
    font-size: 24px;
    background-color: #4b0404;
    color: white;
    padding: 10px;
    border-radius: 20%;
    margin-right: 10px;
    width: 40px;
    height: auto;
}

.user-info div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-info p {
    margin: 0;
    font-size: 19px;
}

.user-details {
    padding-left: 20px;
    border-left: 1px solid #260202;
    font-size: 19px;
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .user-details p {
        margin: 0;
    }

.user-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 15%;
    text-align: center;
}

.edit-btn, .btn-deactivate, .see-btn {
    background-color: #bf6565;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

    .edit-btn:hover, .delete-btn:hover {
        background-color: #bf6565;
    }

.user-actions i {
    font-size: 20px;
}


.filter-order-container {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Arial;
    font-size: 16px;
    color: #333;
    margin-left: 21%;
    position: relative;
}

.filter {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
}

#filterOptions {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
    width: 180px;
}

#filterOptions select {
    width: 100%;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.order {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
}

#orderOptions {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 100%; /* Alineado justo debajo de "Orden" */
    left: 10%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
    width: 150px;
}

    #orderOptions select {
        width: 100%;
        padding: 2px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }


.aprobado {
    color: green;
}

.rechazado {
    color: red;
}

.reproceso {
    color: blue;
}

#showOptionUser {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#opcionesUser {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #260202;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

    #opcionesUser ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #opcionesUser ul li {
            padding: 8px;
        }

            #opcionesUser ul li a {
                color: white;
                text-decoration: none;
                display: block;
                font-family: Arial;
            }

                #opcionesUser ul li a:hover {
                    transform: scale(110%);
                }