* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #260202;
}


    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../Extras/Copa_vino.png), url(../Extras/uvas.png);
        background-position: left -5% top 100%, right -2% bottom 90%;
        /* Uvas alineadas arriba a la izquierda, copa abajo a la derecha */
        background-repeat: no-repeat;
        background-size: 47%, 20%;
        /* Ajusta el tamaño de las imágenes según sea necesario */
        background-attachment: fixed;
        /* El fondo se mantiene fijo al hacer scroll */
        opacity: 0.17;
        /* Ajusta la opacidad aquí */
        z-index: -1;
        /* Asegura que el pseudo-elemento esté detrás del contenido */
    }



.introduccion_qs_contenido {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo_qs {
    width: 400px;
    margin: auto;
}

.parrafo_qs {
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    color: white;
}

.acceso_qs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /*se utiliza align items porque se cambio el orden a column en caso de ser row se utiliza justify content*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.acceso_qs_partes {
    width: 80%;
    height: 220px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    color: black;
    justify-content: space-around;
}

.opciones {
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #bdbdbd;
}

.caja_acceso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acceso {
    background-color: #0d0d0d;
    width: 85%;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

    .acceso:hover {
        background-color: #333;
    }

.parrafo_acceso {
    font-size: 0.8rem;
    color: #a6a6a6;
    text-align: center;
}
