@model ScannerCC.Models.BotellaDetalles

@{
    ViewData["Title"] = "Edit";
}

<style>
    body {
        background-color: #242424;
        color: white;
    }

    .container {
        text-align: center;
    }

    .form-group {
        margin-bottom: 15px;
    }

    input, select {
        width: 100%;
        margin: 5px;
    }

        input[type="submit"] {
            background-color: #20777A;
            color: white;
        }

    .btn-dark:hover {
        background-color: #62EBF0;
        border-color: #20777A;
        color: black;
    }

    a {
        color: white;
    }

    a:hover {
        color: #62EBF0;
    }
</style>

<h1>Editar</h1>

<h4>Botella detalles</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="NombreBotella" class="control-label">Nombre botella</label>
                        <input asp-for="NombreBotella" class="form-control" />
                        <span asp-validation-for="NombreBotella" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AlturaBotella" class="control-label">Altura de la botella</label>
                        <input asp-for="AlturaBotella" class="form-control" />
                        <span asp-validation-for="AlturaBotella" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AnchoBotella" class="control-label">Ancho de la botella</label>
                        <input asp-for="AnchoBotella" class="form-control" />
                        <span asp-validation-for="AnchoBotella" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-dark" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" >Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
