@model ScannerCC.Models.Productos

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="IdInformacionQuimica" class="control-label">Informacion quimica</label>
                <select asp-for="IdInformacionQuimica" name="IdInformacionQuimica" class="form-control" asp-items="ViewBag.IdInformacionQuimica">
                    <option value="">Seleccione un información quimica</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CodigoBarra" class="control-label"></label>
                <input asp-for="CodigoBarra" name="CodigoBarra" class="form-control" />
                <span asp-validation-for="CodigoBarra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoVE" class="control-label"></label>
                <input asp-for="CodigoVE" name="CodigoVE" class="form-control" />
                <span asp-validation-for="CodigoVE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" name="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URLImagen" class="control-label"></label>
                <input asp-for="URLImagen" name="URLImagen" class="form-control" />
                <span asp-validation-for="URLImagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisDestino" class="control-label"></label>
                <input asp-for="PaisDestino" name="PaisDestino" class="form-control" />
                <span asp-validation-for="PaisDestino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idioma" class="control-label"></label>
                <input asp-for="Idioma" name="Idioma" class="form-control" />
                <span asp-validation-for="Idioma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadMedida" class="control-label"></label>
                <input asp-for="UnidadMedida" name="UnidadMedida" class="form-control" />
                <span asp-validation-for="UnidadMedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionCapsula" class="control-label"></label>
                <input asp-for="DescripcionCapsula" name="DescripcionCapsula" class="form-control" />
                <span asp-validation-for="DescripcionCapsula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
