@model ScannerCC.Models.Escaneos

@{
    ViewData["Title"] = "Create";
}

<style>
    body {
        background-color: #242424;
        color: white;
    }

    .container {
        text-align: center;
    }

    .form-group {
        margin-bottom: 15px;
    }

    input, select {
        width: 100%;
        margin: 5px;
    }

        input[type="submit"] {
            background-color: #20777A;
            color: white;
        }

    .btn-dark:hover {
        background-color: #62EBF0;
        border-color: #20777A;
        color: black;
    }

    a {
        color: white;
    }

        a:hover {
            color: #62EBF0;
        }
</style>

<h1>Crear</h1>

<h4>Escaneos</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdProductos" class="control-label">Id Producto</label>
                        <select asp-for="IdProductos" class="form-control" asp-items="ViewBag.IdProductos"></select>
                        <span asp-validation-for="IdProductos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdUsuarios" class="control-label">Id Usuario</label>
                        <select asp-for="IdUsuarios" class="form-control" asp-items="ViewBag.IdUsuarios"></select>
                        <span asp-validation-for="IdUsuarios" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label">Fecha</label>
                        <input asp-for="Fecha" class="form-control" type="date" />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hora" class="control-label">Hora</label>
                        <input asp-for="Hora" class="form-control" type="time" />
                        <span asp-validation-for="Hora" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-dark" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
