@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Extras/favicon.png" type="image/x-icon">
    <title>QS - Dashboard</title>
    <link rel="stylesheet" href="~/css/Dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-i">
            <a href="@Url.Action("RedirigirSegunRol", "Home")">
                <img class="logoqs" src="~/Extras/QualityScoutLogo.png" alt="Logo de Quality Scout">
            </a>
            <div class="navstyle">
                <div class="iconosnav">
                    <a asp-action="Index" asp-controller="Especialista">
                        <img src="~/Extras/home.png" alt="Inicio" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="GestionUsuarios" asp-controller="Usuario">
                        <img src="~/Extras/usuarios.png" alt="Usuarios" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="Controles" asp-controller="Controles">
                        <img src="~/Extras/controles.png" alt="Controles" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="GestionProductos" asp-controller="Producto">
                        <img src="~/Extras/productos.png" alt="Productos" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="GestionInformes" asp-controller="Informes">
                        <img src="~/Extras/Informes.png" alt="Informes" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                        <img src="~/Extras/escaner.png" alt="Informes" />
                    </a>
                </div>
            </div>
            <div class="login-btn">
                <div class="div2">
                        <img class="icono-lapiz" src="~/Extras/especialista.png" alt="Especialista">
                        <div class="welcome-container">
                            <span class="welcome-text">Bienvenido!</span>
                            <p>@ViewBag.trab.Nombre</p>
                            <p>Especialista</p>
                        </div>
                </div>
                <button id="showOptionUser" onclick="showOptionUser()">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div id="opcionesUser" style="display: none">
                    <ul>
                        <li>
                            <a style="color:white;" asp-action="Details" asp-controller="Usuario" asp-route-id="@ViewBag.trab.Id">
                                Editar usuario
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Auth" asp-action="LogOut" class="dropdown-item" style="color:red; text-decoration:none;">
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        <div class="content">
            <h2 class="accesotitulo">Dashboard</h2>
            <div class="iframe-container" style="display: flex; flex-direction: column; align-items: center; gap: 20px; max-width: 800px; margin: 0 auto;">
                <!-- Primer iframe con sus textos -->
                <div class="iframe-overlay">
                    <p class="iframe-text">PRODUCTOS POR PAÍS DE DESTINO</p>
                    <p class="iframe-text1">DESTINOS</p>
                    <p class="iframe-text2">RECHAZOS DE CONTROLES MENSUALES</p>
                    <iframe title="DashboardA" width="1200" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNWQxOTgyNWItMGQ4NS00NGU1LWEyYWEtZGM3ZGJiMTAzMjBkIiwidCI6IjM4YTFlMGExLWI2YjEtNDJlOS1iM2E5LTU5NzYyNjY3MGIxNyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
                </div>

                <!-- Segundo iframe con sus textos -->
                <div class="iframe-overlay">
                    <p class="iframe-text3">VARIEDAD DE PRODUCTOS</p>
                    <p class="iframe-text4">RECHAZOS POR PAÍS</p>
                    <p class="iframe-text5">PRODUCCIÓN MENSUAL</p>
                    <iframe title="DashboardB" width="1200" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNTM0YWYxYjctODJmMS00ZTA0LThiZjktZTE4OTk5NWIyYTFkIiwidCI6IjM4YTFlMGExLWI2YjEtNDJlOS1iM2E5LTU5NzYyNjY3MGIxNyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>

        </div>
    </div>
</body>
<script src="~/js/quagga.min.js"></script>
<script src="~/js/especialista.js"></script>
</html>
