@model ScannerCC.Models.ProductoDetalles

@{
    ViewData["Title"] = "Create";
}

<style>
    body {
        background-color: #242424;
        color: white;
    }

    .container {
        text-align: center;
    }

    .form-group {
        margin-bottom: 15px;
    }

    input, select {
        width: 100%;
        margin: 5px;
    }

        input[type="submit"] {
            background-color: #20777A;
            color: white;
        }

    .btn-dark:hover {
        background-color: #62EBF0;
        border-color: #20777A;
        color: black;
    }

    a {
        color: white;
    }

        a:hover {
            color: #62EBF0;
        }
</style>

<h1>Crear</h1>

<h4>Producto detalles</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdProductos" class="control-label">Productos</label>
                        <select asp-for="IdProductos" class="form-control" asp-items="ViewBag.IdProductos">
                            <option value="">Seleccione un producto</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdBotellaDetalles" class="control-label">Botella detalles</label>
                        <select asp-for="IdBotellaDetalles" class="form-control" asp-items="ViewBag.IdBotellaDetalles">
                            <option value="">Seleccione una botella</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Capacidad" class="control-label">Capacidad</label>
                        <input asp-for="Capacidad" class="form-control" />
                        <span asp-validation-for="Capacidad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="TipoCapsula">Tipo de capsula</label>
                        <select name="TipoCapsula" id="TipoCapsula" class="form-control">
                            <option value="Pvc">Pvc</option>
                            <option value="Complex">Complex</option>
                            <option value="Alutin">Alutin</option>
                        </select>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="TipoEtiqueta">Tipo de etiqueta</label>
                        <select name="TipoEtiqueta" id="TipoEtiqueta" class="form-control">
                            <option value="Autoadhesiva">Autoadhesiva</option>
                            <option value="Engomada">Engomada</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ColorBotella">Color de la botella</label>
                        <select name="ColorBotella" id="ColorBotella" class="form-control">
                            <option value="Verde">Verde</option>
                            <option value="Blanco">Blanco</option>
                            <option value="Ambar">Ambar</option>
                        </select>
                    </div>
                    <div class="form-group form-check">
                        <input asp-for="Medalla" class="form-check-input" type="checkbox" />
                        <label asp-for="Medalla" class="form-check-label">Medalla</label>
                        <span asp-validation-for="Medalla" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="ColorCapsula">Color de la capsula</label>
                        <select name="ColorCapsula" id="ColorCapsula" class="form-control">
                            <option value="Verde">Verde</option>
                            <option value="Blanco">Blanco</option>
                            <option value="Rojo">Rojo</option> @*Existen más*@
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="TipoCorcho">Tipo de corcho</label>
                        <select name="TipoCorcho" id="TipoCorcho" class="form-control">
                            <option value="Micro aglomerado">Micro aglomerado</option>
                            <option value="Perfect">Perfect</option>
                            <option value="Natural">Natural</option> @*Hay más*@
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="MedidaEtiquetaABoquete" class="control-label">Medida de etiqueta a boquete</label>
                        <input asp-for="MedidaEtiquetaABoquete" class="form-control" />
                        <span asp-validation-for="MedidaEtiquetaABoquete" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MedidaEtiquetaABase" class="control-label">Medida de etiqueta a base</label>
                        <input asp-for="MedidaEtiquetaABase" class="form-control" />
                        <span asp-validation-for="MedidaEtiquetaABase" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-dark" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
